@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #002f59;
  --foreground: #fafafa;
  --card: #002f59;
  --card-foreground: #fafafa;
  --popover: #f47832;
  --popover-foreground: #fafafa;
  --primary: #f47832;
  --primary-foreground: #ffffff;
  --secondary: #0f0f0f;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #002f59;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --destructive-foreground: #fafafa;
  --border: #0f0f0f;
  --input: #1f1f1f;
  --ring: #737373;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 8.5px;
  --shadow-y: -2.5px;
  --shadow-blur: 28.5px;
  --shadow-spread: -3.5px;
  --shadow-opacity: 0.03;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.01);
  --shadow-xs: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.01);
  --shadow-sm: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 1px 2px -4.5px hsl(0 0% 0% / 0.03);
  --shadow: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 1px 2px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-md: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 2px 4px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-lg: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 4px 6px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-xl: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 8px 10px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.07);
}

.dark {
  --background: #002f59;
  --foreground: #fafafa;
  --card: #002f59;
  --card-foreground: #fafafa;
  --popover: #f47832;
  --popover-foreground: #fafafa;
  --primary: #f47832;
  --primary-foreground: #ffffff;
  --secondary: #0f0f0f;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #002f59;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --destructive-foreground: #fafafa;
  --border: #0f0f0f;
  --input: #1f1f1f;
  --ring: #737373;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 8.5px;
  --shadow-y: -2.5px;
  --shadow-blur: 28.5px;
  --shadow-spread: -3.5px;
  --shadow-opacity: 0.03;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.01);
  --shadow-xs: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.01);
  --shadow-sm: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 1px 2px -4.5px hsl(0 0% 0% / 0.03);
  --shadow: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 1px 2px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-md: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 2px 4px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-lg: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 4px 6px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-xl: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.03),
    8.5px 8px 10px -4.5px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 8.5px -2.5px 28.5px -3.5px hsl(0 0% 0% / 0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --animate-shiny-text: shiny-text 10s infinite;

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}

.path-1 {
  animation: pathAnim-1 15s;
  animation-timing-function: linear;
  z-index: 14;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,233 C 47.18352447897398,206.03761252928845 94.36704895794796,179.0752250585769 144,192 C 193.63295104205204,204.9247749414231 245.71532864718216,257.73671229498086 300,278 C 354.28467135281784,298.26328770501914 410.7716364533235,285.97792576149953 462,260 C 513.2283635466765,234.02207423850047 559.198125539524,194.35158465902086 610,199 C 660.801874460476,203.64841534097914 716.4358613885806,252.61573560241703 775,264 C 833.5641386114194,275.38426439758297 895.0584289061537,249.18547293131087 960,241 C 1024.9415710938463,232.81452706868913 1093.330422986805,242.64237267233935 1147,246 C 1200.669577013195,249.35762732766065 1239.619879146627,246.2450363793316 1286,243 C 1332.380120853373,239.7549636206684 1386.1900604266866,236.3774818103342 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,233 C 42.06013071895424,230.3095572820323 84.12026143790848,227.6191145640646 132,217 C 179.87973856209152,206.3808854359354 233.57908496732028,187.83309902577383 302,187 C 370.4209150326797,186.16690097422617 453.56339869281044,203.04848933284003 504,206 C 554.4366013071896,208.95151066715997 572.167320261438,197.972943642866 616,200 C 659.832679738562,202.027056357134 729.767320261438,217.0597360956961 800,237 C 870.232679738562,256.9402639043039 940.7633986928104,281.78811197434953 986,280 C 1031.2366013071896,278.21188802565047 1051.1790849673203,249.7878160069059 1093,236 C 1134.8209150326797,222.2121839930941 1198.5202614379084,223.06062399802687 1260,225 C 1321.4797385620916,226.93937600197313 1380.7398692810457,229.96968800098657 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,233 C 63.41901590825009,206.78877790109755 126.83803181650018,180.5775558021951 186,193 C 245.16196818349982,205.4224441978049 300.0668886422494,256.4785546923172 342,268 C 383.9331113577506,279.5214453076828 412.89441361450235,251.50822542853615 468,244 C 523.1055863854976,236.49177457146385 604.3554568997411,249.48854359353808 657,244 C 709.6445431002589,238.51145640646192 733.6837587865334,214.53760019731163 781,197 C 828.3162412134666,179.46239980268837 898.9095079541252,168.36105561721547 957,189 C 1015.0904920458748,209.63894438278453 1060.6782093969662,262.0181773338266 1120,265 C 1179.3217906030338,267.9818226661734 1252.3776544580096,221.56623504747813 1308,208 C 1363.6223455419904,194.43376495252187 1401.8111727709952,213.71688247626093 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,233 C 47.69500554938956,219.4212603280306 95.39001109877913,205.84252065606117 150,219 C 204.60998890122087,232.15747934393883 266.13496115427296,272.0511777037859 327,278 C 387.86503884572704,283.9488222962141 448.0701442841288,255.95276852879516 497,260 C 545.9298557158712,264.04723147120484 583.5844617092118,300.1377481810335 629,282 C 674.4155382907882,263.8622518189665 727.5920088790234,191.49623874707115 792,188 C 856.4079911209766,184.50376125292885 932.0475027746947,249.87729683068198 983,261 C 1033.9524972253053,272.122703169318 1060.2179800221977,228.99457393020103 1101,218 C 1141.7820199778023,207.00542606979897 1197.0805771365149,228.144407448514 1256,236 C 1314.9194228634851,243.855592551486 1377.4597114317426,238.427796275743 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,233 C 47.18352447897398,206.03761252928845 94.36704895794796,179.0752250585769 144,192 C 193.63295104205204,204.9247749414231 245.71532864718216,257.73671229498086 300,278 C 354.28467135281784,298.26328770501914 410.7716364533235,285.97792576149953 462,260 C 513.2283635466765,234.02207423850047 559.198125539524,194.35158465902086 610,199 C 660.801874460476,203.64841534097914 716.4358613885806,252.61573560241703 775,264 C 833.5641386114194,275.38426439758297 895.0584289061537,249.18547293131087 960,241 C 1024.9415710938463,232.81452706868913 1093.330422986805,242.64237267233935 1147,246 C 1200.669577013195,249.35762732766065 1239.619879146627,246.2450363793316 1286,243 C 1332.380120853373,239.7549636206684 1386.1900604266866,236.3774818103342 1440,233 L 1440,400 L 0,400 Z"
    );
  }
}

.path-0 {
  animation: pathAnim-0 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 14;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,100 C 49.79810087557037,103.63186582809224 99.59620175114074,107.26373165618449 147,114 C 194.40379824885926,120.73626834381551 239.4132938710075,130.57693920335427 293,130 C 346.5867061289925,129.42306079664573 408.75062276482913,118.42851153039832 467,119 C 525.2493772351709,119.57148846960168 579.5842150696757,131.70901467505243 633,124 C 686.4157849303243,116.29098532494757 738.9125169564683,88.73542976939203 789,88 C 839.0874830435317,87.26457023060797 886.7657171044517,113.34926624737946 937,123 C 987.2342828955483,132.65073375262054 1040.0246146257246,125.86750524109016 1096,129 C 1151.9753853742754,132.13249475890984 1211.13582439265,145.18071278825997 1269,142 C 1326.86417560735,138.81928721174003 1383.4320878036751,119.40964360587002 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,100 C 59.794253298803795,114.72003946232581 119.58850659760759,129.44007892465163 178,119 C 236.4114934023924,108.55992107534838 293.44022690837346,72.95972376371932 347,68 C 400.55977309162654,63.040276236280675 450.65058576889874,88.72102602047107 493,97 C 535.3494142311013,105.27897397952893 569.9574300160315,96.15617215439637 618,105 C 666.0425699839685,113.84382784560363 727.5196941669749,140.65428536194352 779,137 C 830.4803058330251,133.34571463805648 871.9637933160685,99.22668639782957 936,81 C 1000.0362066839315,62.77331360217043 1086.6251325687508,60.43896904673821 1145,63 C 1203.3748674312492,65.56103095326179 1233.5356764089283,73.01743741521764 1278,80 C 1322.4643235910717,86.98256258478236 1381.2321617955358,93.49128129239118 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,100 C 67.69801455173264,98.95276852879516 135.39602910346528,97.90553705759034 177,108 C 218.60397089653472,118.09446294240966 234.11389813787144,139.33062029843384 292,129 C 349.88610186212856,118.66937970156616 450.14837834504874,76.7719817486743 506,56 C 561.8516216549513,35.22801825132569 573.2925884819336,35.581452706868916 614,55 C 654.7074115180664,74.41854729313108 724.6812677272167,112.90220742385006 788,128 C 851.3187322727833,143.09779257614994 907.9823406091996,134.80971759773092 963,122 C 1018.0176593908004,109.19028240226909 1071.3893698359848,91.8589221852263 1131,87 C 1190.6106301640152,82.1410778147737 1256.4601800468615,89.75459366136391 1309,94 C 1361.5398199531385,98.24540633863609 1400.7699099765691,99.12270316931804 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,100 C 50.355062276482926,96.44715747934394 100.71012455296585,92.89431495868789 151,85 C 201.28987544703415,77.10568504131211 251.51456406461955,64.86989764459241 311,81 C 370.48543593538045,97.13010235540759 439.231619188556,141.62609446294243 499,134 C 558.768380811444,126.37390553705757 609.5589591811568,66.62572450363793 651,56 C 692.4410408188432,45.374275496362074 724.532544086817,83.87100752250586 777,83 C 829.467455913183,82.12899247749414 902.3108644715746,41.890245406338636 955,54 C 1007.6891355284254,66.10975459366136 1040.223998026884,130.5680108521396 1096,147 C 1151.776001973116,163.4319891478604 1230.7931434208904,131.837711185103 1292,116 C 1353.2068565791096,100.16228881489702 1396.6034282895548,100.0811444074485 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,100 C 49.79810087557037,103.63186582809224 99.59620175114074,107.26373165618449 147,114 C 194.40379824885926,120.73626834381551 239.4132938710075,130.57693920335427 293,130 C 346.5867061289925,129.42306079664573 408.75062276482913,118.42851153039832 467,119 C 525.2493772351709,119.57148846960168 579.5842150696757,131.70901467505243 633,124 C 686.4157849303243,116.29098532494757 738.9125169564683,88.73542976939203 789,88 C 839.0874830435317,87.26457023060797 886.7657171044517,113.34926624737946 937,123 C 987.2342828955483,132.65073375262054 1040.0246146257246,125.86750524109016 1096,129 C 1151.9753853742754,132.13249475890984 1211.13582439265,145.18071278825997 1269,142 C 1326.86417560735,138.81928721174003 1383.4320878036751,119.40964360587002 1440,100 L 1440,400 L 0,400 Z"
    );
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
